.homepage-project {
  margin: 5vh 0;
}

.homepage-project:first-of-type {
  margin: 0 0 5vh 0;
}

.homepage-project .project-header {
  padding-right: var(--s-default);
  max-width: 68ch;
}

main.content {
  max-width: 128rem;
  padding: var(--s-default) 0 10vh var(--s-default);
  position: relative;
  margin: 0 auto;
}

main.content > aside {
  position: static;
}

main.content > article {
  display: block;
  position: relative;
}

.project-images {
  position: relative;
  height: auto;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}

.project-images figcaption {
  font-size: 1.4rem;
  color: var(--text-color-light);
}

.project-image-thumb {
  position: relative;
  display: inline;
  margin: var(--s-default) var(--s-default) var(--s-default) 0;
}

.project-image-thumb img {
  height: 34rem;
}

.project-image-featured img {
  max-width: 100%;
  padding-right: var(--s-default);
}

@media (min-width: 768px) {

  main.content {
    display: grid;
    grid-template: 1fr / 25% 1fr;
  }

  .project-images {
    display: grid;
    grid-template: auto / 1fr 1fr 1fr;
  }

  .project-image-thumb img {
object-fit: cover;
max-width: 100%;
height: auto;
  }
}
