:root {
  --text-color: #222222;
  --text-color-dark: #0e0e0e;
  --text-color-light: #6e6e6e;
  --text-lineheight: 1.4;
  --text-size: 1.6rem;
  --link-color: #0046e2;
  --link-color-visited: #513191;
  --link-color-hover: #082b78;
  --s-default: 1.2rem;
  --s-smallest: 0.4rem;
  --s-large: 2.4rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 0.625rem;
  height: 100%;
}

body {
  color: var(--text-color);
  font-family: "Palanquin-Regular", "Helvetica Neue", sans-serif;
  line-height: var(--text-lineheight);
  font-size: var(--text-size);
}

.site-title {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

a:visited {
  color: var(--link-color);
}

a:hover {
  color: var(--link-color-hover);
}

p {
  margin: var(--s-default) 0;
}
